#current_user_mini_avatar {
    margin-top: 5px;
    margin-right: 10px;
}
#current_user_nick {
    margin: 5px;
}
#button_ask {
    position: absolute;
    right:  15px;
}
.style_right_header {
    color: chocolate;
    margin-top: 4px;
    text-align: right;
}

#tags_p {
    padding:40px 30px;
}

.button_count{
    margin-top: 5px;
    text-align: center;
}
.set_log:hover {
    color: #fff;
}

 #set_log a:hover {
    text-decoration: none;
}