#current_user_mini_avatar {
    margin-top: 5px;
    margin-right: 10px;
}
#current_user_nick {
    margin: 5px;
}
#button_ask {
    position: absolute;
    right:  15px;
}
.style_right_header {
    color: chocolate;
    margin-top: 4px;
    text-align: right;
}

#tags_p {
    padding:40px 30px;
}

.button_count{
    margin-top: 5px;
    text-align: center;
}
.set_log:hover {
    color: #fff;
}

 #set_log a:hover {
    text-decoration: none;
}

 /*Кнопки лайков */
.likebutton{
	cursor: pointer;
}
.anslikebutton{
	cursor: pointer;
}
.likebtn{
	vertical-align: bottom;
	content: url("img/like.png");
}
.islikebtn{
	vertical-align: bottom;
	content: url("img/is_liked.png")
}
.dislikebtn{
	vertical-align: bottom;
	content: url("img/dislike.png")
}
.isdislikebtn{
	vertical-align: bottom;
	content: url("img/is_disliked.png")
}
.page-question-like{
	width: 120px;
	margin-top: 110px;
	margin-left: -110px;
	float: left;
	text-align: center;
}

.page-like-img{
	width: 20px;
	height: 20px;
}