{%extends 'index.html'%}
{% load staticfiles %}

{% block title %}<title>AskMax - Hot!</title>{% endblock %}

{%block tabs%}
                <a href="/" value="new_question" class="btn btn-primary">New Question</a>
                <a href="{% url 'hot' %}" type="button" value="hot_questions" class="active btn btn-primary">Hot Questions</a>
                <a href="{% url 'ask' %}">
                    <button href="{% url 'ask' %}" type="button" data-toggle="modal" data-target="#myModal"
                            class="btn btn-primary" id="button_ask">Ask!
                    </button>
                </a>
                <br>
{%endblock%}
